@{
    string path = Context.Request.Path.ToString().ToLower();
    Func<string, string> active = (url) =>
    path.StartsWith(url.ToLower()) ? "active fw-bold" : "";
}

<nav class="navbar navbar-expand-lg navbar-dark bg-dark mb-4">
    <div class="container-fluid">
        <a class="navbar-brand" href="/zarzadzanie">Panel administracyjny</a>

        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#adminNavbar">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="adminNavbar">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="workersDropdown" role="button"
                        data-bs-toggle="dropdown">
                        Pracownicy
                    </a>
                    <ul class="dropdown-menu">
                        <li>
                            <a class="dropdown-item @(path.StartsWith("/zarzadzanie/operatorzy"))"
                                href="/zarzadzanie/operatorzy">
                                Pracownicy
                            </a>
                        </li>
                        <li>
                            <a class="dropdown-item @(path.StartsWith("/zarzadzanie/operatorzy/role"))"
                                href="/zarzadzanie/operatorzy/role">
                                Role
                            </a>
                        </li>
                    </ul>
                </li>
                <li class="nav-item ms-auto">
                    <a class="nav-link text-danger" href="/logout">Wyloguj</a>
                </li>
            </ul>
        </div>
    </div>
</nav>