@model FitnessApp.Models.ViewModels.OperatorsViewModel

@{
    ViewData["Title"] = "Zarządzanie → Operatorzy";
}
<div class="container mt-4">

    <h1 class="mb-3">Zardządzanie pracownikami</h1>

    <div class="mb-3 text-end">
        <button class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#addOperatorModal">
            Dodaj nowego operatora
        </button>
    </div>

    @await Html.PartialAsync("~/Views/Shared/Components/Operators/_OperatorsTable.cshtml", Model.Operators)
    @await Html.PartialAsync("~/Views/Shared/Components/Operators/_AddOperatorModal.cshtml", Model.Roles)
    @await Html.PartialAsync("~/Views/Shared/Components/_DeleteModal.cshtml",
    new DeleteModalViewModel
    {
        ModalId = "deleteOperatorModal",
        FormId = "deleteOperatorForm",
        ItemNameId = "deleteOperatorName",
        Title = "Potiwerdzenie usunięcia operatora",
        QuestionText = "Czy na pewno chcesz usunąć operatora:",
        DeleteUrlBase = "/zarzadzanie/operatorzy/usun"
    })

</div>
@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}