@model IEnumerable<FitnessApp.Models.OperatorRole>

@{
    ViewData["Title"] = "Role pracowników";
}

<div class="container mt-4">

    <div class="d-flex align-items-center justify-content-between mb-3">
        <div>
            <h2 class="mb-1">Role pracowników</h2>
            <div class="text-muted">Zarządzanie rolami operatorów</div>
        </div>

        <button class="btn btn-primary"
                data-bs-toggle="modal"
                data-bs-target="#addRoleModal">
            Dodaj nową rolę
        </button>
    </div>

    @await Html.PartialAsync("~/Views/Shared/Components/OperatorRoles/_OperatorRolesTable.cshtml", Model)

</div>

@await Html.PartialAsync("~/Views/Shared/Components/OperatorRoles/_AddRoleModal.cshtml")
@await Html.PartialAsync("~/Views/Shared/Components/_DeleteModal.cshtml",
    new DeleteModalViewModel
    {
        ModalId = "deleteRoleModal",
        FormId = "deleteRoleForm",
        ItemNameId = "deleteRoleName",
        Title = "Potwierdzenie usunięcia roli",
        QuestionText = "Czy na pewno chcesz usunąć rolę:",
        DeleteUrlBase = "/zarzadzanie/operatorzy/role/usun"
    })

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
